OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
MONGODB_URI=mongodb+srv://akhilakrishnan172:Akhila@2005_@cluster0.yzkug0s.mongodb.net/?appName=Cluster0
JWT_SECRET=somerandondomstringillstorehere
DATABASE_NAME=nirvaha_db
PORT=8000
